body, label, textarea{
  display:block;
  margin: 1em;
}

#drop_zone {
    border: thin dotted grey;
    width:  20em;
    height: 8em;
}

section{
  /*background-color: rgb(243, 245, 245);*/
  border: thin solid grey;
  padding: 1em;
  margin: 0.3em;
}

main{
  display:flex;
}

textarea {
  overflow: scroll;
  height: auto;
  width: 40em;
}

span {
  color: red;
}

@media screen and (max-width: 600px) {
  main{
    display: block;
  }

  textarea, #drop_zone, input{
    width: 100%;
  }
}